/* Main container for the shop */
.container{
    height: 100vh;
    background: url(https://img.freepik.com/free-photo/grunge-black-concrete-textured-background_53876-124541.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.shopContainer {
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  }
  
  /* Title and description */
  .shopTitle {
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    color: #eddfc0;
    margin-bottom: 10px;
    margin-top: 60px;
  }
  
  .shopDescription {
    font-family: 'Lora', serif;
    font-size: 18px;
    color: #beae88;
    margin-bottom: 30px;
  }
  
  /* Product grid layout */
  .productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  /* Product card */
  .productCard {
    background-color: transparent;
    box-shadow: 0px 0px 10px white;
    border-radius: 10px;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); */
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .productCard:hover {
    transform: translateY(-10px);
  }
  
  /* Product image */
  .productImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  /* Product details */
  .productDetails {
    padding: 20px;
    text-align: left;
    /* color: #beae88;  */
  }
  
  .productName {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    /* color: #111; */
    color: #f3e5c7;
  }
  
  .productDescription {
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #beae88;
    margin: 10px 0;
  }
  
  .productPrice {
    font-family: 'Lora', serif;
    font-size: 18px;
    color: crimson;
    margin-bottom: 15px;
  }
  
  /* Add to cart button */
  .addToCartButton {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: black;
    background-color: #beae88;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addToCartButton:hover {
    background-color: #5c2d10;
  }
  
  /* Media query for mobile responsiveness */
  @media (max-width: 768px) {
    .shopTitle {
      font-size: 28px;
    }
  
    .shopDescription {
      font-size: 16px;
    }
  
    .productName {
      font-size: 20px;
    }
  
    .productPrice {
      font-size: 16px;
    }
  }
  