.BookContainer{
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
  }
  .container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 1000px; /* Adjusted width to accommodate the image and form */
    margin: 0 auto;
    box-shadow: 0px 0px 20px white;
    color: white;
    margin-top: 80px;
  }
  
  .imageContainer {
    flex: 1;
    padding-right: 20px;
  }

  
  .imageContainer img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px white;
    border: 3px solid  #beae88;
  }
  
  .formContainer {
    flex: 1;
    margin-left: 20px;
    
  }
  .formContainer>h2{
    text-align: center;
    color:  #beae88;
    font-size: 2rem;
    font-weight: 800;
  }
  
  .heading {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .bookingForm {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .bookingForm label {
    margin-bottom: 8px;
    font-size: 1rem;
  color: white;
  }
  
  .bookingForm input,
  .bookingForm select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    background-color: bisque;
  }
  
  .bookingForm input:focus,
  .bookingForm select:focus {
    outline: none;
    border-color: #beae88;
    box-shadow: 0px 0px 8px rgba(122, 66, 244, 0.2);
  }
  
  .inputRow {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .inputRow div {
    flex: 1;
  }
  
  .submitButton {
    background-color:  #beae88;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #d1bf95;
  }
  