
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 100px;
    /* background-color: rgb(37, 18, 37); */
    background-color: rgba(0, 0, 0, 0.826);
  }
  
  .leftcolumn {
    width: 65%;
    display: flex;
    flex-direction: column;

  }
  
  .rightcolumn {
    width: 30%;

    padding: 20px;
    border-radius: 10px;

  }
  
  .dateselector {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .dateinput, .guestinput {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.048);
    color: white;
  }
  
  .roomdetails {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.333);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;

  }
  
  .roomdetails h2 {
    font-size: 2.4rem;
    margin-bottom: 10px;
    color: rgb(243, 208, 165);
  }
  
  .roomdetails p {
    margin-bottom: 5px;
    color: white;
  }
  
  .ratecard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .ratecard>div>h3{
    color: rgb(243, 208, 165);
  }
  .rateprice {
    display: flex;
    align-items: center;
  }
  
  .rateprice span {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
    color: rgb(75, 212, 75);
  }
  
  .rateprice button {
    padding: 10px 20px;
    background-color: #decca1;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .rateprice button:hover {
    background-color: #beae88;
  }
  
  .summary {
    text-align: center;
    height: 400px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.189);
    position: fixed;
    padding-top: 60px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
  }
  .summary>h2{
    color: #f3dfb3;
    font-weight: 900;
    padding: 20px;
  }
  .summary>p{
    color: #b9e8f6;
    font-weight: 600;
  }
  .bookbutton {
    background-color: #beae88;
    
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .bookbutton:hover {
    background-color: #beae88;
  }
  .description{
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .description>img{
    margin-right:60px ;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
  }
  