
footer{
    height: 70px;
    width: 100%;
    /* background
    :linear-gradient(black,#705f38,rgba(0, 0, 0, 0.76)) */
    background-color: rgb(0, 0, 0)
}
footer>article{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f8e2b1;
}
footer>article>div>ul{
    display: flex;
    justify-content: space-around;
}
footer>article>div>ul>li{
    text-decoration: none;
    outline: none;
    list-style: none;
    margin-left: 20px;
    color: #f8e2b1;
}


